body {
    background-image: url("assets/double-bubble.png");
}

#nav {
    background-image: url("assets/double-bubble-dark.png");
}

#button {
    background-color: wheat;
}

#nav-brand {
    color: wheat;
    font-weight: 700;
    font-size: 30px;
    margin-left: 18px;
}

#active { 
    color: blue;
    font-weight: 500;
}

#not-active {
    color: wheat;
    font-weight: 500;
}

#content {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
    width: 600px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20%;
}

#aboutme-img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
}

#portfolio-img {
    width: 250px;
    height: 250px;
    padding: 10px;
}

h1 { 
    color: rgb(40, 40, 40);
    border-bottom-style: groove;
}

p { 
    font-weight: 500;
    font-size: 15px;
    color: rgb(40, 40, 40);
}

#submit {
    margin-bottom: 15px;
}

footer {
    background-image: url("assets/double-bubble-dark.png");
    padding-bottom: 1px;
    padding-top: 5px;
    position: sticky;
    bottom: 0%;
}

h3 {
    color: wheat;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

#social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    #content {
      width: 80%;
      margin-right: 10%;
    }
}

@media screen and (max-width: 576px) {
    #content {
      width: 100%;
      margin: 0%;
    }
}

