body {
    background-image: url("assets/double-bubble.png");
}

/* This section of css modifies the style of the nav bar being utilized across all of the pages. */
#nav {
    background-image: url("assets/double-bubble-dark.png");
}

#button {
    background-color: wheat;
}

#nav-brand {
    color: wheat;
    font-weight: 700;
    font-size: 30px;
    margin-left: 18px;
}

#active { 
    color: blue;
    font-weight: 500;
}

#not-active {
    color: wheat;
    font-weight: 500;
}

/* This section of css defines the formatting of the content box across all of the pages. */
#content {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
    width: 600px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20%;
}

 /* This section of css defines the format of the image apearing on the index.html. */
#aboutme-img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
}

/* This section of css defines the format for the images apearing on the portfolio.html. */
#portfolio-img {
    width: 250px;
    height: 250px;
    padding: 10px;
}

/* This section of css defines the heading within the content box across all pages. */
h1 { 
    color: rgb(40, 40, 40);
    border-bottom-style: groove;
}

/* This section of css defines the formatting for the paragraphs apearing within the content box on the index.html. */
p { 
    font-weight: 500;
    font-size: 15px;
    color: rgb(40, 40, 40);
}

/* This section of css adds some space below the submit button in the content box on the contact.html. */
#submit {
    margin-bottom: 15px;
}

/* The following section of css defines the formatting for the footer section that appears on all pages. */
footer {
    background-image: url("assets/double-bubble-dark.png");
    padding-bottom: 1px;
    padding-top: 5px;
    position: sticky;
    bottom: 0%;
}

h3 {
    color: wheat;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

#social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}

/* The following @media helps to set the format of the content boxes at various breakpoints. */
@media screen and (max-width: 768px) {
    #content {
      width: 80%;
      margin-right: 10%;
    }
}

@media screen and (max-width: 576px) {
    #content {
      width: 100%;
      margin: 0%;
    }
}

